/* HTML selectors (most general) */

a{
  color: #525252;
}
a:active, a:hover{
  color: #ffcc41;
}

nav{
  background-color: black;

}
/* class selectors (can have multiple applied to one element/tag) */
.navbar{
  text-align: center;
}

.top-div{
  /* this will become a card styling component */
}


/* id selectors (most specific) */
