<header>
  <nav class="navbar" id="navbarHeader">
    <div class="top-div">
      <a class="navbar-brand" href="/">
        <img class="icon" src="./favicon.ico" alt="cinema-scene-board">
        CineFile
      </a>
    <div>
      <a routerLink="/customer-login" routerLinkActive="active">
        Login |
      </a>
      <a routerLink="/customer-signup" routerLinkActive="active">
        Sign Up |
      </a>
      <a routerLink="/admin-login" routerLinkActive="active">
        Admin Portal
      </a>
    </div>
    </div>
  </nav>
</header>
