
<div>
  <p>Welcome, {{ _username }}!</p>
</div>
<div class = "comp-div">
  <app-request-movie></app-request-movie>
</div>
<div>
  <p>Rate a movie.</p>
  <label for="id">Movie Id: </label><br>
  <input id="id" type="number" min=1/><br>
  <br>
  <label for="rating">Rate the movie: </label><br>
  <input id="rating" type="number" min=1 max=5 /><br>
  <button mat-raised-button (click)="submitRating()">Submit</button>
</div>
<div class = "comp-div filter-div">
  <app-filter-movie></app-filter-movie>
</div>




