#view {
    clear: both;
    width: calc(100%);
  }

  div {
  padding: 0;
  height: max-content;
  width: 75%;
  align-items: center;
  }


  table, tr, th, td {

    background-color: rgb(32, 41, 46);
    padding: 5px 50px;
    word-wrap: normal;
    align-items: center;
    text-align: center;
  }

  .table {
    width: 100%;
    overflow:auto;
  }

  .submit-btn{
    border-radius: 12px;
  background-color: #ffcc41; /* Green */
  border: none;
  color: black;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  margin-left: 1%;
  }

  .submit-btn:hover{
    background-color: #eba800;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .Filter {

      color:rgb(255, 255, 255);
      padding: 5px 50px;
      position:relative;
      width: 75%;

  }
  

  .manage {
    position: fixed;
    width: calc(35%);
    text-align: center;
    font-size: large;
  }
