#view {
    clear: both;
    width: calc(100%);
  }

  div {
  padding: 0;
  height: max-content;
  width: 75%;
  align-items: center;
  }


  table, tr, th, td {

    background-color: rgb(32, 41, 46);
    padding: 5px 50px;
    word-wrap: normal;
    align-items: center;
    text-align: center;
  }

  .table {
    position:relative;
    float: right;
    width: calc(65%);
    overflow:auto;
    left: 25%;
  }

  .Filter {
      background:rgb(101, 101, 107);
      color:rgb(255, 255, 255);
      padding: 5px 50px;
      position:relative;
      width: 75%;
  }

  .manage {
    position: fixed;
    width: calc(35%);
    text-align: center;
    font-size: large;
  }
