<div class="Filter">
    <label for="filter">Filter: </label>
    <select name="filter" [(ngModel)]="filter" id="filter">
        <option value="genre">Genre</option>
        <option value="year">Year</option>
    </select>

    <select *ngIf="filter == 'genre'" name="value" [(ngModel)]="value" id="value">
        <option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
        </option>
    </select>

    <select *ngIf="filter == 'year'" name="value" [(ngModel)]="value" id="value">
        <option *ngFor="let year of years" [value]="year">
            {{year}}
        </option>
    </select>

    <button class="submit-btn" (click)="onSearch()">Search</button>
</div>

<div class="table">

    <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Ratings</th>
    </tr>
    <tr *ngFor="let movie of movies;">

        <td>{{movie.title}} <br> <img src="{{movie.picture_id}}" width="100" height="125"></td>
        <td>{{movie.genre}}</td>
        <td>{{movie.year}}</td>
    </tr>


