#view {
    clear: both;
    width: calc(100%);
  }
  
  div {
  padding: 0;
  height: max-content;
  width: 100%;
  align-items: center;
  }
  
  
  table, tr, th, td {
    border: 1px solid rgb(101, 101, 107);
    background-color: rgb(32, 41, 46);
    padding: 5px 50px;
    word-wrap: normal;
    align-items: center;
    text-align: center;
  }

  .table {
    float: right;
    width: calc(65%);
    overflow:auto;
  }

  .Filter {
    background:rgb(101, 101, 107);
    color:rgb(255, 255, 255);
    padding: 5px;
    position: fixed;
    width: calc(65%);
    text-align: center;
    font-size: large;
  }
  
  .manage {
    position: fixed;
    width: calc(35%);
    text-align: center;
    font-size: large;
  }
  