<div class="Filter">
    <label for="filter">Filter: </label>
    <select name="filter" [(ngModel)]="filter" id="filter">
        <option value="genre">Genre</option>
        <option value="year">Year</option>
    </select>

    <select *ngIf="filter == 'genre'" name="value" [(ngModel)]="value" id="value">
        <option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
        </option>
    </select>

    <select *ngIf="filter == 'year'" name="value" [(ngModel)]="value" id="value">
        <option *ngFor="let year of years" [value]="year">
            {{year}}
        </option>
    </select>

    <button class="submit-btn" (click)="onSearch()">Search</button>
</div>
<div >
    <tr>
        <th>Poster</th>
        <th>Movie Title</th>
        <th>Genre</th>
        <th>Year</th>
    </tr>
    <tr *ngFor="let movie of movies;">
        <td><img src="{{ movie.picture_id }}" width="100" height="100"></td>
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.year}}</td>
    </tr>
</div>

