<app-admin-home-page></app-admin-home-page>
<main id="view">
    <div class="table">
        <tr>
            <th>Request Id</th>
            <th>User Add Movie Request</th>
            <th>Request Status</th>
        </tr>
        <tr *ngFor="let request of requests;">
            <td>{{request.id}}</td>
            <td>{{request.addRequest}}</td>
            <td>{{request.requestStatus}}</td>
        </tr>
    </div>
    <div class="manage">
        <app-mangage-requests></app-mangage-requests>
    </div>
</main>
