table, th, td {
    
    font-size: x-large;
    border: 1px solid whitesmoke;
    text-align: center;
    vertical-align: middle;
    column-width: 13em;
    height: 2em;
    }

.vl {
    margin-right: 35em;
    border-right: 0.5em solid green;
    height: auto;

    }
