.request-form{
  background-color: rgba(0, 0, 0, 0.788);
  width: 75%;
  text-decoration: none;
  position: relative;
  left: 4%;
}
div {
    text-align: center;
}

button {
    margin-left: 10px;
}

p, form {
    padding: 10px 0;
}

