<div class="content" role="main">

  <div class="card">

    <form>
      <p> Enter your information to Login:</p>
      <div class="form-control">
        <input type="text" name="userName" [(ngModel)]="username" id="username" placeholder="Username" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password" required/>

      </div>
      <button class="submit-btn" (click)="onLogin()">Submit</button>
      <p class="register-para">Need an account?</p>
        <a routerLink="/customer-signup" routerLinkActive="active">Click Here</a>
      </form>
  </div>
</div>
