form+p{
  margin: 0 0 0;
}

a{
  color: #000;
  text-decoration: none;
}
a:active, a:hover{
  /* color: #FF1E56; */
  transition:all 0.2s ease-in-out;
  text-shadow: #000;
}
button{
  border-radius: 25px;
  background-color: #ffcc41; /* Green */
  border: none;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
}
input{
  height: 25px;
  margin-bottom: 5%;
}

.submit-btn:hover{
  background-color: #eba800;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in;
}


.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #ffcc41;
  background-color: #fafafa;
  height: 250px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  color: black;
}
.register-para{
  margin: 10px 0px 0px 0px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
