<main id="view">
    <div id = "tables">
        <div *ngIf="manage==true">
            <app-view-requests></app-view-requests>
        </div>
        <div *ngIf="manage==false">
            <h1>Hi</h1>
        </div>
    </div>
    <div id = "manage">
        <div id = "links">
            <router-outlet id=nav1 routerLink="/manage-requests" routerLinkActive="active" (click)="manageTrue()"> 
                Manage Requests
            </router-outlet>
            <router-outlet id=nav2 routerLink="/manage-movies" routerLinkActive="active" (click)="manageFalse()"> 
                Manage Movies
            </router-outlet>
        </div>
    </div>
</main>

<!-- Set up two components that take up the entire page (together). 
- the right half contains either a table with the requests or a table with the movies depending on which option is selected 
in the navbar
- the left half contains either the manage requests block or the manage movies block

use router links-->


<!-- <main id="view")>
    <div id = "tables">
        
    </div>
    <div id = "manage">
        
        
    </div>
</main> -->
