<div class="content" role="main">

  <div class="card">

    <form action="/src/main/java/com/Revature/Project2/beans/controllers/UserController.java" method="post">
      <p> Enter your information to signup:</p>
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Username" required>
      <input type="password" placeholder="Password" required>
      <button class="submit-btn">Submit</button>
    </form>
  </div>
</div>
