<div>
    <h2>Manage Requests Menu</h2>
    <br>
    <form>
        <label for="request">Select a request id: </label>
        <input id="request" type="number" value="1" min="1" max="{{20}}" />
        <button mat-raised-button (click)="accept()">Accept Request</button>
        <button mat-raised-button (click)="reject()">Request Request</button>
    </form>
</div>


    <!-- I need something that the user can use to accept requests
    I need something that the user can use to reject requests
I need something that allows the user to chose a request id -->